*{
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: darkblue;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main>a:first-of-type{
    margin: 5vh auto 5vh auto;
}

main>a:first-of-type>img{
    height: 15vh;
}

section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: solid 8px #649EFA;
    background-color: #CDFA4B;
    padding: 5vh 5vw 5vh 5vw;
    margin: 10vh auto auto auto;
}


section>form>div{
    margin: 3vh auto 2vh auto;
    display: flex;
    flex-flow: column nowrap;  
    align-items: center;
}

#submit>input{
    border: none;
    height: 3vh;
    font-size: 1rem;
    background-color: #649EFA;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px;
}

#submit>input:hover{
    height: 4vh;
    font-size: 1.1rem;
    transition-duration: 250ms;
}

main>a:last-of-type{
    margin-top: 10vh;
}

section>a{
    margin-top: 4vh;
}

section>form>p{
    text-align: center;
}
