*{
    box-sizing: border-box;
    margin: 0;
}

/*Header, display grid*/

header{
    display: grid;
    background-color: #649EFA;
    /*background-color: rgba(141, 152, 159, 1);*/
    grid-template-columns: 2fr 5fr 1.5fr 1.5fr;
    height: 16vh;
}

header>a>img{
    width: auto;
    height: 13vh;
    margin: auto;
}

header>div{
    margin: auto auto auto 2vw;
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: 5vh;
    border: 3px solid #CDFA4B;
    border-radius: 4px;
}

header>div>input:first-of-type{
    width: 35vw;
    font-size: 1.5rem;
}

header>div>input:last-of-type{
    background-color: #CDFA4B;
    font-size: 1.4rem;
    border: none;
}

header>div>input:last-of-type:hover{
    background-color: #CDFA4B;
}

header>a{
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 5%;
    background-color: #CDFA4B;
    color: black;
    border-radius: 4px;
    font-size: 1.2rem;
}

header>a:first-of-type{
    margin-right: 2vw;
}

header>a:last-of-type{
    margin-left: 2vw;
}

header>a:hover{
    border-radius: 10px;
    color: rgb(38, 92, 180);
    background-color: rgba(189, 226, 78, 0.795);
    transition-delay: 50ms;
    transition-duration: 400ms;
}

/*Gestion de la balise a du logo*/

#logo{
    margin:auto;
    padding: 0;
    background-color: #649EFA;
}

/*menu déroulant */

#deroulant{
    grid-area: 1/3/2/4;
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 80%;
}

#deroulant>ul{
    padding: 0;
    width: 100%;
}




/*Enlever les puces aux li et gérer leur positionnement*/

#deroulant li{
    list-style-type: none;
    position: relative;
  
}


#deroulant ul li a {
    text-decoration: none;
}


#deroulant>ul>li>ul{
    margin: auto;
    padding: 0;
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    
}


#deroulant>ul>li:hover>ul{
    visibility: visible;
}

#deroulant>ul>li>ul>li>a{
    color: black;
}

#deroulant>ul>li>ul>li:hover{
    background-color: rgba(100, 158, 250, 0.5);
    transition-delay: 200ms;
    transition-duration: 700ms;
}

#deroulant>ul>li>ul>li{
    background-color: white;
    border: 2px solid #CDFA4B;
    padding: 5%;
    width: 100%;
    text-align: center;
}

#deroulant>ul>li>ul>li:nth-of-type(2n){
    border-top: none;
}

#deroulant>ul>li>h3{
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 5%;
    background-color: #CDFA4B;
    color: black;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: normal;
}

#deroulant>ul>li:hover>h3{
    border-radius: 10px;
    color: rgb(38, 92, 180);
    background-color: rgba(189, 226, 78, 0.795);
    transition-delay: 50ms;
    transition-duration: 400ms;
}

