*{
    box-sizing: border-box;
    margin: 0;
}

/*Header, display grid*/

header{
    display: grid;
    background-color: rgba(144, 172, 183, 1);
    /*background-color: rgba(141, 152, 159, 1);*/
    grid-template-columns: 2fr 5fr 1.5fr 1.5fr;
    height: 16vh;
}

header>a>img{
    width: auto;
    height: 13vh;
    margin: auto;
}

header>div{
    margin: auto auto auto 2vw;
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: 5vh;
    border: 3px solid rgba(141, 152, 159, 0.8);
    border-radius: 4px;
}

header>div>input:first-of-type{
    width: 35vw;
    font-size: 1.1rem;
}

header>div>input:last-of-type{
    background-color: rgba(141, 152, 159, 0.8);
    font-size: 1.4rem;
    border: none;
}

header>div>input:last-of-type:hover{
    background-color: rgba(141, 152, 183, 0.6);
}

header>a{
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 5%;
    background-color: rgba(141, 152, 159, 0.8);
    color: black;
    border-radius: 4px;
    font-size: 1.2rem;
}

header>a:first-of-type{
    margin-right: 2vw;
}

header>a:last-of-type{
    margin-left: 2vw;
}

header>a:hover{
    background-color: rgba(141, 152, 183, 0.6);
}

/*Gestion de la balise a du logo*/

#logo{
    margin:auto;
    padding: 0;
    background-color: rgba(144, 172, 183, 1);
}