/* Gestion input, button */

#modifier, #modifierInfos, #annuler{
    text-decoration: none;
    font-size: 1vw;
    padding: 0.5vw 1vw;
    background-color: #CDFA4B;
    color: black;
    border-radius: 4px;
    margin-top: 0.5vw;
}
#modifier:hover, #modifierInfos:hover, #annuler:hover{
    border-radius: 10px;
    color: rgb(38, 92, 180);
    background-color: rgba(189, 226, 78, 0.795);
    transition-delay: 50ms;
    transition-duration: 400ms;
}


main>h2{
    margin: 2vw auto;
    text-align: center;
}

section{
    border: #649EFA solid 2px;
    width: 40vw;
    margin: auto;
    text-align: center;
    padding-bottom: 1vw;
}

#infos>p:first-of-type{
    color: rgba(124, 10, 2, 1);
}

section>p{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

h5{
    margin-top: 2vw;
    margin-bottom: 1vw;
}

#modifierInfos, #modifier, #annuler{
    display: block;
    margin: 2vw auto;
    text-align: center;
}

#modif{
    padding: 0.5vw;
    margin-bottom: 2vw;
}

#modif>form>div{
    margin: 0.5vw auto;
}

input{
    text-align: center;
}


